@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; 
}

body {
  background-color: #101110;
}

html {
  scroll-behavior: smooth;
}

.overlay {
  background: rgba(27, 25, 25, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}