@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    }

body {
    background-color: #1c1e28;
}

.overlay {
    background: rgba(27, 25, 25, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

@layer components {
    /* ----- section ----- */
    .section-padding {
        @apply pt-[4rem] lg:pt-0 lg:px-[15%]
    }

    /* ----- container ----- */
    .container {
        @apply max-w-[1240px] lg:min-h-[100vh] w-full h-full lg:mx-auto lg:flex lg:justify-center lg:items-center
    }

    /* ----- text ----- */
    .default-text {
        @apply text-base text-primaryTextColor font-light
    }

    .primary-text {
        @apply text-primaryColor font-semibold text-[1.6rem] xl:text-[2.4rem] 2xl:text-[3.2rem]
    }

    .secondary-text {
        @apply text-primaryTextColor font-semibold text-[1.6rem] xl:text-[2.4rem] 2xl:text-[3.2rem]
    }

    /* ----- navbar ----- */
    .header-nav {
        @apply cursor-pointer relative text-[#acd7ff] tracking-wider hover:text-primaryColor 
        /* after */
        after:absolute after:bg-primaryColor after:h-[3px] after:w-[0%] after:left-0 after:-bottom-[5px] 
        after:rounded-xl after:duration-300 
        /* hover after */
        hover:after:w-[100%]
    }

    /* ----- button ----- */
    .btn {
        @apply flex items-center justify-center gap-[6px] w-[180px] h-[50px] leading-[40px] text-[14px] text-primaryColor
        border border-primaryColor tracking-[2px] text-center relative transition-all duration-500
        /* after */
        after:absolute after:top-0 after:left-0 after:w-[0%] after:h-[100%] after:bg-primaryColor after:transition-all
        after:duration-500
        /* hover: */
        hover:text-[#1c1e28]
        /* hover: after */
        hover:after:w-[100%]
    }

    .btn p {
        @apply relative z-20
    }
}